<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="display-4">GOOD BURGER</h1>
        <p class="lead"></p>
    </div>
    <ul>{{#each burgers}}
        <li>Burger Type : {{burgers_name}}</li>
        {{/each}}
    </ul>
    <panel>
        <form action="/" method="POST">
            <textarea type="text" name="burgers"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </panel>

</div>